
@font-face {
  font-family: Plus_jakarta_bold;
  src: url(../static/PlusJakartaSans-Bold.ttf);
}

@font-face {
  font-family: Plus_jakarta_medium;
  src: url(../static/PlusJakartaSans-Medium.ttf);
}
@font-face {
  font-family: Plus_jakarta_extraBold;
  src: url(../static/PlusJakartaSans-ExtraBold.ttf);
}

.mediumFont{
  font-family: Plus_jakarta_medium;
}

.boldFont{
  font-family: Plus_jakarta_bold;
  line-height: 24px;
}
.extraBoldFont{
  font-family: Plus_jakarta_extraBold;
  line-height: 24px;
}

.maginal_left{
  margin-left: 10px;
}

.App {
  text-align: center;
  background-color: #f4f7fd;
  min-height: 100%;
  max-height: 120%;

}

.large_font{
  font-size: 24px;
}
.main-div{
  width: 100%;
}



.font_small{
  font-size: 13px;
}
.font_medium{
  font-size: 15px;
}
.font_large{
  font-size: 18px;
}

.logo_div{
  width:300px;
  font-size: 24px;
  border-right: 1px solid lightgray;
}
.board_bar{
  width: 980px;
  border-bottom: 1px solid lightgray;
}

.content_container{
  height: 504px;

}
.inner_space{
  letter-spacing: 3px;
  font-size: 13px;

 
}
.padding_left{
  padding-left: 20px;
  
  
}

.hide_container{
  width: 280px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.hide_container:hover{
  background-color: lightgray;
}


.sidebar_container{
  overflow: scroll;
display:block;
width:300px;
box-sizing: border-box;
min-height: 100%;
max-height: 120vh;
border-right: 1px solid lightgray;

transition: 0.2s ease-in-out;


}

.board_title{
  background-color: inherit;


  margin-left: 10px;

}

.boardTitle_container{
  padding-top: 8px;
  padding-bottom: 8px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: gray;
  fill: gray;
  width: 280px;
  cursor: pointer;

}

.boardTitle_container:hover{
  background-color: #635fc7;
  color: white;
  fill: white;
}

.eye_toggler{
  background-color: #635fc7;
  cursor: pointer;
  color: white;
  position: absolute;
  padding:15px;
  border-top-right-radius: 50%;
  border-bottom-right-radius:50% ;
  left: 0;
  bottom:50px;
}
.furys_eye{
  color: rgb(162, 162, 162);
  cursor: pointer;
}
.text_color{
  color: #635fc7;
}
.plus_dims{
  width:8px;
  height:8px;

  margin-left: 5px;
  margin-right: 2px;
}

.boardSplit{
 
  width: 20px;
  height: 20px;
}

.modal_trigger{
  cursor: pointer;
  color: gray;
  fill: gray;
  width: 280px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;

}


.modal_trigger:hover{
color: #635fc7;
fill: #635fc7;
}

.content{
  width: 980px;
}


.ball{
  width:15px;
  height: 15px;
  background-color: white;
  position:absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.1s linear;
  }
  
  .togglerLabel{
    position: relative;
    width:35px;
    height:20px;
    background-color:#635fc7;
    border-radius: 20px;
   margin-top: 1px;
  
  
  }


  .toggler_container{
    width: 240px;
    margin-left: 30px;
    padding: 10px;
    margin-bottom: 5px;
   
  }
  .checkbox{
    display: none;
  }
  
  .checkbox:checked+ .togglerLabel .ball{
    transform: translateX(15px);
  }

  .logo_button_style{
    background-color: #635fc7;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    border: 0;
    border-radius:25px;
    
  }
  
  .small_plus{
    width: 11px;
    height: 11px;
  }

  .modal_overlay{
    background-color: rgba(196, 192, 192, 0.7);
    position: fixed;
    height:100%;
    width:100%;
    z-index: 10;
    top:0;
    left:0
  }

  .modal_content{
    background-color: white;
    width:480px;
    height:fit-content;
    position: absolute;
    top:20%;
    left:380px;
    border-radius: 5px;
    padding:10px;
    z-index: 100;
  }

  .content_wrapper{
    position: relative;
  }

  .special_style{
    font-size: 18px;
  }

  .custom_input{
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 40px;
    width: 416px;
    padding: 5px;
  }

  input::placeholder{
    font-size: 14px;

  }

  .boardButtons{
    border-radius: 25px;
    background-color: #d8d7f1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    border: 0;
    width:416px;
    color: #635fc7;

  }

.boardSettings{
  position: absolute;
  background-color: white;
  top:70px;
  padding: 10px;
  border-radius: 10px;
  right:20px;
  width:fit-content;
  height: fit-content;
}

.settingsElement{
  cursor: pointer;
  margin: 3px;
}
.settingsElement:hover{
  background-color: #d8d7f1;
  border-radius: 5px;
}

.deleteModal{
  background-color: white;
  width: 480px;
  padding: 25px;
  border-radius: 10px;
  height: fit-content;
  position: fixed;
  top: 30%;
  left:30%;
}

.small_paragraph{
  text-align: start;
}


.deleteBtn{
  background-color: orangered;
  border:0;
  border-radius: 20px;
  color:white;
  width: 200px; 
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
}

.cancelButton{
  background-color: #f4f7fd;
  border:0;
  border-radius: 20px;
  color:#635fc7;
  width: 200px; 
  padding-top: 10px;
  padding-bottom: 10px;
}