
@font-face {
  font-family: Plus_jakarta_bold;
  src: url(../static/PlusJakartaSans-Bold.ttf);
}

@font-face {
  font-family: Plus_jakarta_medium;
  src: url(../static/PlusJakartaSans-Medium.ttf);
}
@font-face {
  font-family: Plus_jakarta_extraBold;
  src: url(../static/PlusJakartaSans-ExtraBold.ttf);
}

.mediumFont{
  font-family: Plus_jakarta_medium;
}

.boldFont{
  font-family: Plus_jakarta_bold;
  line-height: 24px;
}
.extraBoldFont{
  font-family: Plus_jakarta_extraBold;
  line-height: 24px;
}

.maginal_left{
  margin-left: 10px;
}

.App {
  text-align: center;
  background-color: #f4f7fd;
  width: 100%;
  height: 100%;
}

.main-div{
  width: 100%;
}



.font_small{
  font-size: 13px;
}
.logo_div{
  width:300px;
  font-size: 24px;
  border-right: 1px solid lightgray;
}
.board_bar{
  width: 980px;
  border-bottom: 1px solid ligghtgray;
}

.content_container{
  height: 504px;

}
.inner_space{
  letter-spacing: 3px;
  font-size: 13px;

 
}
.padding_left{
  padding-left: 20px;
  
  
}

.hide_container{
  width: 280px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.hide_container:hover{
  background-color: lightgray;
}


.sidebar_container{
display:block;
width:300px;
box-sizing: border-box;
height: 100%;

transition: 0.2s ease-in-out;
border-right: 1px solid lightgray;

}

.eye_toggler{
  background-color: #635fc7;
  cursor: pointer;
  color: white;
  position: absolute;
  padding:15px;
  border-top-right-radius: 50%;
  border-bottom-right-radius:50% ;
  left: 0;
  bottom:50px;
}
.furys_eye{
  color: rgb(162, 162, 162);
  cursor: pointer;
}
.text_color{
  color: #635fc7;
}
.plus_dims{
  width:8px;
  height:8px;

  margin-left: 5px;
  margin-right: 2px;
}

.boardSplit{
 
  width: 20px;
  height: 20px;
}

.modal_trigger{
  cursor: pointer;
  color: gray;
  fill: gray;
  width: 280px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;

}


.modal_trigger:hover{
color: #635fc7;
fill: #635fc7;
}

.content{
  width: 980px;
}


.ball{
  width:15px;
  height: 15px;
  background-color: white;
  position:absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.1s linear;
  }
  
  .togglerLabel{
    position: relative;
    width:35px;
    height:20px;
    background-color:#635fc7;
    border-radius: 20px;
   margin-top: 1px;
  
  
  }


  .toggler_container{
    width: 240px;
    margin-left: 30px;
    padding: 10px;
    margin-bottom: 5px;
   
  }
  .checkbox{
    display: none;
  }
  
  .checkbox:checked+ .togglerLabel .ball{
    transform: translateX(15px);
  }
  