
@font-face {
  font-family: Plus_jakarta_bold;
  src: url(../static/PlusJakartaSans-Bold.ttf);
}

@font-face {
  font-family: Plus_jakarta_medium;
  src: url(../static/PlusJakartaSans-Medium.ttf);
}
@font-face {
  font-family: Plus_jakarta_extraBold;
  src: url(../static/PlusJakartaSans-ExtraBold.ttf);
}

.mediumFont{
  font-family: Plus_jakarta_medium;
}

.boldFont{
  font-family: Plus_jakarta_bold;
  line-height: 24px;
}
.extraBoldFont{
  font-family: Plus_jakarta_extraBold;
  line-height: 24px;
}

.App {
  text-align: center;
  background-color: #f4f7fd;
  width: 100%;
  height: 100%;
}
.main-div{
  width: 100%;
}



.font_small{
  font-size: 13px;
}
.logo_div{
  width:300px;
  font-size: 24px;
  border-right: 1px solid rgb(223, 222, 222);
}
.board_bar{
  width: 980px;
}

.content_container{
  height: 504px;
}
.inner_space{
  letter-spacing: 3px;
  font-size: 13px;

 
}
.marginal_left{
  margin-left: 10px;
}


.sidebar_container{
display:block;
width:300px;
box-sizing: border-box;
height: 100%;
background-color: white;
transition: 0.2s ease-in-out;
}

.eye_toggler{
  background-color: #635fc7;
  cursor: pointer;
  color: white;
  position: absolute;
  padding:15px;
  border-top-right-radius: 50%;
  border-bottom-right-radius:50% ;
  left: 0;
  bottom:50px;
}
.furys_eye{
  color: rgb(162, 162, 162);
  cursor: pointer;
}


